html body{
    width: 100%;
    padding: 0px;
    height: 100%;
}

.img{
    position: relative;
 height: 50px;
 width: 100px;
 top: -16px;
 left: -500px;


}
.sing{
    color: white;
    background-color: green;
}

.wright{
    color: rgb(7, 206, 7);
}
.button{
    color: white;
    background-color: rgb(4, 141, 4);
    border-radius: 30px;
    
}
#home{
    background-color: rgb(233, 255, 241);
}
.book img{
    height: 150px;
    width: 150px;
    display: block;
   margin-left: auto;
    margin-right: auto;
}
.helo{
    text-align: center;
}
.card{
    backgroun
    border-radius: 15px;

}
.text-muted img{
 height: 20px;
 width: 20px;
}
.man img{
    height: 200px;
    width: 200x;
}
.text{
    text-align: center;
}
.container-left{
    display: left;
    padding-bottom: 10px;
    width: 500px;
}
.container-right{
    display: inline;
    padding-bottom: 10px;
    width: 500px;
}

.text{
    text-align: center;
}
.photo{
    height: 300px;
    width: 450px;
}
.container{
    padding: 50px;
}
.stal{
   float: right;
}
.footer{
    background-color: black;
    color: white;
    height: 369px;
    width: 1349px;
    position: relative;
}
.footer .footer-button{
 background-color: rgb(15, 15, 15);
 color: rgb(168, 164, 164);
 height: 50px;
 position: absolute;
 bottom: 0px;
 left: 0px;
 padding-top: 20px;
 text-align: center;
 width: 100%;
}
.footer .footer-content{
    border: 1px solid red;
    height: 350px;
   
}
.footer .footer-tx{
    float: left;
    flex: 1;
    border: 1px solid rgb(0, 0, 0);
    padding: 70px;
}
.ex{
    color: white;
}
.tx{
    color: rgb(196, 194, 194);
}

